.head{
    color: orange;
}
.slogan{
    Color: green;
}

.clock{
    font-size: 40px;
    color:blueviolet;
}
.clk{
    margin-top: 60px;
}
.body{
    background-color: #030415;
    height: 100vh;
    width: 100vw;
}